services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "5432:5432"
    volumes:
      - notes-data:/var/lib/postgresql/data
    healthcheck:
      test:
        ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      NOTES_DB_DSN: "${NOTES_DB_DSN}"
      HEALTHCHECK_URL: "${API_BASE_URL}/healthcheck"
      FRONTEND_BASE_URL: "${FRONTEND_BASE_URL}"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: "${API_BASE_URL}"
    environment:
      SERVER_NAME: "${SERVER_NAME}"
      VITE_API_BASE_URL: "${API_BASE_URL}"
    ports:
      - "3000:80"

    depends_on:
      - api

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./backend/cmd/api/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    networks:
      - default
    depends_on:
      - api

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_SERVER_ROOT_URL=${GRAFANA_SERVER_URL}
      - GF_USERS_ALLOW_SIGN_UP=${GRAFANA_USERS_ALLOW_SIGN_UP}
    volumes:
      - grafana-data:/var/lib/grafana
      - ./backend/cmd/api/grafana/provision:/etc/grafana/provisioning
    networks:
      - default
    depends_on:
      - prometheus

volumes:
  notes-data:
  prometheus-data:
  grafana-data:
