name: API CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Docker api env for tests
        uses: ./.github/actions/docker-test-api-setup
      - name: Run Tests
        env:
          NOTES_DB_DSN: "postgres://test_user:test_password@localhost:5432/test_db?sslmode=disable"
        run: go test ./... -v
      - name: Teardown
        if: always()
        run: docker compose -f docker-compose.test.yml down --volumes --remove-orphans

  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: backend
