name: Frontend CI

on:
  push:
  pull_request:
    paths:
      - "frontend/**"
  workflow_call:
    secrets:
      SNYK_TOKEN:
        required: false

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  audit:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: Audit dependencies
        run: npm audit --audit-level=moderate

  security_snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run Snyk to check for vulnerabilities
        id: snyk
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: frontend --sarif-file-output=snyk-frontend.sarif --severity-threshold=medium
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk-frontend.sarif
      - name: Check Snyk exit code
        if: steps.snyk.outcome == 'failure'
        run: exit 1

  test:
    runs-on: ubuntu-latest
    needs:
      - audit
      - security_snyk
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test

  lint:
    runs-on: ubuntu-latest
    needs:
      - audit
      - security_snyk
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint

  build:
    needs:
      - test
      - lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
