name: Push Monitoring Images to ECR

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 0"
  push:
    paths:
      - "infra/setup/ecr.tf"
      - ".github/workflows/sync-monitoring-images.yml"

permissions:
  actions: read
  contents: read

jobs:
  sync_images:
    name: Sync Prometheus and Grafana to ECR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to ECR
        run: |
          aws ecr get-login-password --region eu-west-1 | docker login --username AWS --password-stdin ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-1.amazonaws.com
      - name: Push latest Prometheus
        run: |
          docker pull prom/prometheus:latest
          docker tag prom/prometheus:latest ${{ vars.ECR_REPO_PROMETHEUS }}:latest
          docker push ${{ vars.ECR_REPO_PROMETHEUS }}:latest
          echo "Prometheus image pushed to ECR"

      - name: Push latest Grafana
        run: |
          docker pull grafana/grafana:latest
          docker tag grafana/grafana:latest ${{ vars.ECR_REPO_GRAFANA }}:latest
          docker push ${{ vars.ECR_REPO_GRAFANA }}:latest
          echo "Grafana image pushed to ECR"
