name: Terraform checks before deploying

on:
  pull_request:
    branches: [main]
    paths:
      - "infra/**"
      - ".github/workflows/terraform-checks.yml"
      - ".github/workflows/lint-and-validate-terraform.yml"

jobs:
  test-lint:
    name: Lint & Validate
    uses: ./.github/workflows/lint-and-validate-terraform.yml
    secrets:
      DOCKER_HUB_USER: ${{vars.DOCKER_HUB_USER }}
      DOCKER_HUB_TOKEN: ${{secrets.DOCKER_HUB_TOKEN}}
